<footer class="site-footer section bg-body-secondary">
    <div class="container border-top py-4">
      <div class="row g-4 text-center text-md-start">
        <div class="col-md-4 me-auto">
          <a href=".." class="link-logo">
            <img src="{{ url_for_static_asset('img', 'logo.svg') }}" alt="" class="logo mb-4">
          </a>
          <p>settings.footer_description</p>
        </div>
        <div class="col-md-2">
          <h6 class="py-2 fw-bold text-uppercase">Company</h6>
          <nav class="nav flex-column">
            <a class="nav-item py-2" href="about.html">About</a>
            <a class="nav-item py-2" href="#">Services</a>
            <a class="nav-item py-2" href="blog/">Blog</a>
          </nav>
        </div>
        <div class="col-md-2">
          <h6 class="py-2 fw-bold text-uppercase">Product</h6>
          <nav class="nav flex-column">
            <a class="nav-item py-2" href="#">Features</a>
            <a class="nav-item py-2" href="#">API</a>
            <a class="nav-item py-2" href="#">Customers</a>
          </nav>
        </div>
        <div class="col-md-2">
          <h6 class="py-2 fw-bold text-uppercase">Channels</h6>
          <nav class="nav flex-column">
            <a class="nav-item py-2" href="#">Careers</a>
            <a class="nav-item py-2" href="contact.html">Contact</a>
            <a class="nav-item py-2" href="#">Search</a>
          </nav>
        </div>
      </div>
      <hr class="mt-5">
      <div class="row small align-items-center">
        <div class="col-md-4">
          <p class="mt-2 mb-md-0 text-secondary text-center text-md-start">settings.footer_rights</p>
        </div>
        <div class="col-md-8">
          <nav class="nav social-icons justify-content-center justify-content-md-end">
            <a href="#" class="btn btn-sm btn-facebook me-3">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="btn btn-sm btn-twitter text-white  me-3">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-sm btn-whatsapp me-3">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="#" class="btn btn-sm btn-instagram text-white  me-3">
              <i class="fab fa-instagram"></i>
            </a>
          </nav>
        </div>
      </div>
    </div>
  </footer>
