<!-- Page Navbar -->
<nav class="st-nav navbar navbar-expand-lg fixed-top" id="main-nav">
  <div class="container">
    <ul class="st-nav-menu nav navbar-nav">
      <li class="st-nav-section nav-item">
        <a href="{{ url_for("landing:home") }}" class="link-logo navbar-brand nav-link">
            <img src="{{ url_for('static', file_path='img/logo.svg') }}" alt="" class="logo mb-4">
        </a>
      </li>

      <!-- Primary navigation elements -->
      <li class="st-nav-section st-nav-primary nav-item">
        <a class="st-root-link item-products st-has-dropdown nav-link" href="{{ url_for("landing:home") }}"> Home </a>
        <a class="st-root-link item-products st-has-dropdown nav-link" href="{{ url_for("landing:faq") }}"> FAQ </a>
        <a class="st-root-link item-products st-has-dropdown nav-link" href="{{ url_for("landing:pricing") }}"> Pricing </a>
        <a class="st-root-link item-products st-has-dropdown nav-link" data-dropdown="services"> Services </a>
        <a class="st-root-link item-products st-has-dropdown nav-link" href="/" target="_blank"> API Docs </a>
      </li>

      <!-- Secondary navigation elements -->
      <li class="st-nav-section st-nav-secondary nav-item align-items-center">

        <!-- Theme switcher -->
        <div class="dropdown">
          <button class="nav-link p-0 dropdown-toggle d-flex align-items-center" id="dc-theme" type="button"
                  data-bs-toggle="dropdown" data-bs-display="static">
              <span class="theme-icon-active">
                <i class="theme-icon" data-feather="circle" width="18" height="18"></i>
              </span>
            <span class="d-lg-none ms-2" id="dc-theme-text">Toggle theme</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dc-theme-text">
            <li>
              <button type="button" class="dropdown-item py-2 px-3 d-flex align-items-center" data-bs-theme-value="dark"
                      aria-pressed="false">
                <i class="theme-icon me-2" data-feather="moon" width="18" height="18"></i> Dark
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item py-2 px-3 d-flex align-items-center"
                      data-bs-theme-value="light" aria-pressed="false">
                <i class="theme-icon me-2" data-feather="sun" width="18" height="18"></i> Light
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item py-2 px-3 d-flex align-items-center" data-bs-theme-value="auto"
                      aria-pressed="false">
                <i class="theme-icon me-2" data-feather="circle" width="18" height="18"></i> Auto
              </button>
            </li>
          </ul>
        </div>


        <a class="btn btn-dark shadow-dark ml-4" href="/settings.url_login" target="_blank">
          <i class="fas fa-sign-in-alt d-none d-md-inline me-md-0 me-lg-2"></i>
          <span class="d-md-none d-lg-inline">Login</span>
        </a>
      </li>

      <!-- Mobile navigation modal -->
      <li class="st-nav-section st-nav-mobile nav-item">
        <button class="st-root-link navbar-toggler" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="st-popup">
          <div class="st-popup-container bg-body-tertiary">
            <a class="st-popup-close-button">Close</a>
            <div class="st-dropdown-content-group">
              <h4 class="text-uppercase">Services</h4>
              <a class="text-primary" href="about.html">
                <i class="far fa-building icon"></i> About
              </a>
              <a class="text-success" href="contact.html">
                <i class="far fa-envelope icon"></i> Contact
              </a>
              <a class="text-warning" href="pricing.html">
                <i class="fas fa-hand-holding-usd icon"></i> Pricing
              </a>
              <a class="text-info" href="faqs.html">
                <i class="far fa-question-circle icon"></i> FAQs
              </a>
            </div>
            <div class="st-dropdown-content-group border-top">
              <h4 class="text-uppercase fw-bold">Components</h4>
              <div class="row">
                <div class="col me-4">
                  <a href="components/alert.html">Alerts</a>
                  <a href="components/badge.html">Badges</a>
                  <a href="components/button.html">Buttons</a>
                  <a href="components/color.html">Colors</a>
                  <a href="components/accordion.html">Accordion</a>
                </div>
                <div class="col me-4">
                  <a href="components/overlay.html">Overlay</a>
                  <a href="components/progress.html">Progress</a>
                  <a href="components/lightbox.html">Lightbox</a>
                  <a href="components/tab.html">Tabs</a>
                  <a href="components/tables.html">Tables</a>
                  <a href="components/typography.html">Typography</a>
                </div>
              </div>
            </div>
            <div class="st-dropdown-content-group border-top">
              <a href="auth/login.html">Sign in <i class="fas fa-long-arrow-right ms-3"></i>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="st-dropdown-root">
    <div class="st-dropdown-bg">
      <div class="st-alt-bg"></div>
    </div>
    <div class="st-dropdown-arrow"></div>
    <div class="st-dropdown-container">
      <div class="st-dropdown-section" data-dropdown="services">
        <div class="st-dropdown-content">
          <div class="st-dropdown-content-group">
            <div class="mb-4">
              <h4 class="text-nowrap mb-0 text-gradient text-gradient-success">
                <span class="fw-bold">Useful services</span> you'll need
              </h4>
              <p class="text-muted mt-0">Get a complete design stack</p>
            </div>
            <div class="row flex-nowrap g-4">
              <div class="col me-4">
                <h6 class="text-uppercase fw-bold small ps-2">Error</h6>
                <a class="dropdown-item" href="403.html">403 Error</a>
                <a class="dropdown-item" href="404.html">404 Error</a>
                <a class="dropdown-item" href="500.html">500 Error</a>
              </div>
              <div class="col me-4">
                <h6 class="text-uppercase fw-bold small ps-2">User</h6>
                <a class="dropdown-item" href="auth/login.html">Login</a>
                <a class="dropdown-item" href="auth/register.html">Register</a>
                <a class="dropdown-item" href="auth/forgot-password.html">Forgot</a>
              </div>
              <div class="col me-4">
                <h6 class="text-uppercase fw-bold small ps-2">Extra</h6>
                <a class="dropdown-item" href="pricing.html">Pricing</a>
                <a class="dropdown-item" href="terms.html">Terms</a>
                <a class="dropdown-item" href="faqs.html">FAQ</a>
              </div>
            </div>
          </div>
          <div class="st-dropdown-content-group">
            <div class="row">
              <div class="col-md-6">
                <a class="dropdown-item fw-bold" href="about.html">
                  <i class="far fa-building icon"></i> About
                </a>
                <a class="dropdown-item fw-bold" href="contact.html">
                  <i class="far fa-envelope icon"></i> Contact
                </a>
              </div>
              <div class="col-md-6">
                <a class="dropdown-item fw-bold" href="pricing.html">
                  <i class="fa fa-money-bills icon"></i> Pricing
                </a>
                <a class="dropdown-item fw-bold" href="pricing-table.html">
                  <i class="fas fa-hand-holding-usd icon"></i> Pricing Table
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
