<section class="section">
  <div class="container">
    <div class="section-heading text-center">
      <p class="d-inline-block text-success-emphasis bg-success-subtle rounded-pill px-3 py-1 fw-bold mb-2"> Better
        Design </p>
      <h2 class="section-title fw-bold"> We design to fit all your needs </h2>
    </div>
    <div class="row g-4 text-center">
      <div class="col-md-4">
        <div class="card h-100 shadow-box hover-shadow hover-lift">
          <div class="card-body p-5">
            <i data-feather="image" width="36" height="36" class="mb-3 stroke-primary"></i>
            <h5 class="fw-bold mb-3"> Easily theme-able </h5>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat
              nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 shadow-box hover-shadow hover-lift">
          <div class="card-body p-5">
            <i data-feather="sliders" width="36" height="36" class="mb-3 stroke-primary"></i>
            <h5 class="fw-bold mb-3"> Professional tools </h5>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat
              nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card h-100 shadow-box hover-shadow hover-lift">
          <div class="card-body p-5">
            <i data-feather="target" width="36" height="36" class="mb-3 stroke-primary"></i>
            <h5 class="fw-bold mb-3"> Ready-to-use content </h5>
            <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolores ea fugiat
              nesciunt quisquam. Assumenda dolore error nulla pariatur voluptatem?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
