<section class="section bg-body-secondary edge top-left">
      <div class="container pt-5">
        <div class="d-flex align-items-center flex-column flex-md-row">
          <div class="text-center text-md-start">
            <p class="text-gradient text-gradient-primary mb-0 lead fw-bold">Ready to get started?</p>
            <h2 class="mt-0 fw-bold">Create an account now</h2>
          </div>
          <a href="srv/register" class="btn btn-primary shadow-primary text-white-full mt-3 mt-md-0 ms-md-auto"> Create DashCore account </a>
        </div>
      </div>
    </section>
