{% load static %}
<section class="section">
  <div class="container-wide bring-to-front">
    <div class="row g-4 align-items-center text-center text-lg-start">
      <div class="col-10 col-lg-4 mx-auto">
        <div class="section-heading">
          <h2 class="section-title fw-bold"> Designed to provide top-notch appearance </h2>
          <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. </p>
        </div>
        <p>Nullam vitae scelerisque est, sed tempus metus. Donec convallis volutpat enim consequat viverra. Nam blandit
          est eu ipsum elementum, ac pellentesque nibh placerat. Quisque venenatis pulvinar nulla, non vestibulum urna
          ultrices accumsan.</p>
        <a href="#" class="btn btn-primary mt-4">Learn more</a>
      </div>
      <div class="col-lg-6 pe-0">
        <img src="{% static 'lanimg/screens/dash/1.png' %}" alt="" class="img-responsive shadow" data-aos="fade-left">
      </div>
    </div>
  </div>
</section>
