<section class="section">
      <div class="container bring-to-front">
        <div class="row g-4 align-items-center">
          <div class="col-md-5 col-lg-5 me-md-auto text-center text-lg-start">
            <div class="section-heading mb-0">
              <div class="bg-primary-subtle text-primary p-3 rounded-2 d-inline-block undefined">
                <i data-feather="box" width="36" height="36" class="stroke-primary"></i>
              </div>
              <p class="text-primary fw-bold mb-2 small"> Integration tools </p>
              <h2 class="section-title fw-bold"> Easy integrations for your convenience </h2>
              <p class="lead text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolores dolorum, error est excepturi exercitationem hic iusto minus nam officia optio quasi tempore voluptatibus. Aut dolore in nostrum quae voluptatem! </p>
            </div>
          </div>
          <div class="col-12 col-md-7 col-lg-6">
            <div class="row g-4">
              <div class="col-6 col-sm-5 col-md-6 col-lg-5 mt-6 ms-lg-auto">
                <div class="text-light bg-primary bg-gradient shadow-primary rounded p-2 p-sm-4 text-center" data-aos="fade-up">
                  <img src="lanimg/logos/webpack.svg" class="img-responsive icon-xl mx-auto px-auto px-sm-4" alt="...">
                  <p class="fw-bold mt-4">Webpack</p>
                  <p class="small opacity-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="javascript:;" class="btn btn-light mt-4">
                    <i class="d-inline-block d-sm-none fas fa-long-arrow-right"></i>
                    <span class="d-none d-sm-inline-block">More</span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-5 col-md-6 col-lg-5 me-lg-auto">
                <div class="text-light bg-danger bg-gradient shadow-danger rounded p-2 p-sm-4 text-center" data-aos="fade-up">
                  <img src="lanimg/logos/sass.svg" class="img-responsive icon-xl mx-auto px-auto px-sm-4" alt="...">
                  <p class="fw-bold mt-4">SASS</p>
                  <p class="small opacity-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="javascript:;" class="btn btn-light mt-4">
                    <i class="d-inline-block d-sm-none fas fa-long-arrow-right"></i>
                    <span class="d-none d-sm-inline-block">More</span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-5 col-md-6 col-lg-5 ms-lg-auto">
                <div class="text-light bg-warning bg-gradient shadow-warning rounded p-2 p-sm-4 text-center" data-aos="fade-up">
                  <img src="lanimg/logos/es6.svg" class="img-responsive icon-xl mx-auto px-auto px-sm-4" alt="...">
                  <p class="fw-bold mt-4">Babel</p>
                  <p class="small opacity-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="javascript:;" class="btn btn-light mt-4">
                    <i class="d-inline-block d-sm-none fas fa-long-arrow-right"></i>
                    <span class="d-none d-sm-inline-block">More</span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-5 col-md-6 col-lg-5 mt-n5 me-lg-auto">
                <div class="text-light bg-success bg-gradient shadow-success rounded p-2 p-sm-4 text-center" data-aos="fade-up">
                  <img src="lanimg/logos/es6.svg" class="img-responsive icon-xl mx-auto px-auto px-sm-4" alt="...">
                  <p class="fw-bold mt-4">Nunjucks</p>
                  <p class="small opacity-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="javascript:;" class="btn btn-light mt-4">
                    <i class="d-inline-block d-sm-none fas fa-long-arrow-right"></i>
                    <span class="d-none d-sm-inline-block">More</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
