<section class="section">
  <div class="container bring-to-front">
    <div class="row g-4 align-items-center">
      <div class="col-lg-5 order-lg-last mx-auto">
        <div class="section-heading text-left">
          <p class="d-inline-block text-success-emphasis bg-success-subtle rounded-pill px-3 py-1 fw-bold mb-2"> Easy
            integration </p>
          <h2 class="section-title fw-bold text-gradient text-gradient-warning"> Every thing you need to get
            started </h2>
          <p class="lead"> You can easily integrate DashCore with any other theme of our own, including Dashboards
            Admin Templates </p>
        </div>
        <p>Nullam vitae scelerisque est, sed tempus metus. Donec convallis volutpat enim consequat viverra. Nam
          blandit est eu ipsum elementum, ac pellentesque nibh placerat. Quisque venenatis pulvinar nulla, non
          vestibulum urna ultrices accumsan.</p>
        <a href="#" class="btn btn-primary mt-4">Learn more</a>
      </div>
      <div class="col-lg-6 ps-0 position-relative">
        <div class="device-twin free-width align-items-center mt-4 mt-lg-0">
          <div class="browser shadow" data-aos="fade-end">
            <img src="/static/img/screens/dash/4.png" alt="...">
          </div>
          <div class="front iphone-x position-absolute d-none d-sm-block" data-aos="fade-up" data-aos-delay=".5"
               style="right:0;bottom:-1.5rem">
            <div class="screen">
              <img src="/static/img/screens/app/1.png" alt="...">
            </div>
            <div class="notch"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
