<section class="section">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h2>Do you have <span class="fw-bold">questions?</span>
        </h2>
        <p class="lead">Not sure how this template can help you? Wonder why you need to buy our theme?</p>
        <p class="text-muted">Here are the answers to some of the most common questions we hear from our appreciated
          customers</p>
      </div>
      <div class="col-md-8">
        <div class="accordion" id="accordion-faqs">
          <div class="accordion-item">
            <div class="accordion-header">
              <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#fq1"> What
                does the package include? </a>
            </div>
            <div id="fq1" class="accordion-collapse collapse" data-bs-parent="#accordion-faqs">
              <div class="accordion-body">When you buy DashCore, you get all you see in the demo but the images. We
                include SASS files for styling, complete JS files with comments, all HTML variations. Besides we
                include all mobile PSD mockups.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#fq2"> What is
                the typical response time for a support question? </a>
            </div>
            <div id="fq2" class="accordion-collapse collapse" data-bs-parent="#accordion-faqs">
              <div class="accordion-body">Since you report us a support question we try to make our best to find out
                what is going on, depending on the case it could take more or les time, however a standard time could
                be minutes or hours.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#fq3"> What do
                I need to know to customize this template? </a>
            </div>
            <div id="fq3" class="accordion-collapse collapse" data-bs-parent="#accordion-faqs">
              <div class="accordion-body">Our documentation give you all you need to customize your copy. However you
                will need some basic web design knowledge (HTML, Javascript and CSS)
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <a href="#" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#fq4"> Can I
                suggest a new feature? </a>
            </div>
            <div id="fq4" class="accordion-collapse collapse" data-bs-parent="#accordion-faqs">
              <div class="accordion-body">Definitely <span class="bold">Yes</span>, you can contact us to let us know
                your needs. If your suggestion represents any value to both we can include it as a part of the theme
                or you can request a custom build by an extra cost. Please note it could take some time in order for
                the feature to be implemented.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
