<section class="section bg-body-secondary">
  <div class="container">
    <div class="section-heading">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <p class="d-inline-block text-primary-emphasis bg-primary-subtle rounded-pill px-3 py-1 fw-bold mb-2"> Get
            started </p>
          <h2 class="text-contrast mt-2">DashCore saves <span
            class="fw-bold typed text-gradient text-gradient-primary"
            data-strings="[&quot;Money&quot;, &quot;Time&quot;, &quot;Costs&quot;]"></span>
          </h2>
          <p class="lead text-muted"> DashCore will saves you tons of hard work, it is easy to customize and it comes
            with hundreds of features. </p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p class="handwritten highlight fs-4 text-success">Available on Themeforest!!!</p>
      <a href="https://themeforest.net/item/dashcore-saas-startup-software-template/22397137" target="_blank"
         class="btn btn-lg btn-warning shadow-warning px-4"> Get it Now </a>
    </div>
  </div>
</section>
