<section class="section">
  <div class="container bring-to-front py-0">
    <div class="card shadow hover-shadow rounded-5">
      <div class="card-body">
        <div class="row g-4 align-items-center text-center text-lg-start">
          <div class="col-md-6 py-4 px-5">
            <i data-feather="star" width="36" height="36" class="stroke-success"></i>
            <a href="javascript:;" class="mt-4 d-flex align-items-center">
              <h4 class="me-3">Join as Designer</h4>
              <i class="fas fa-arrow-right-long text-success"></i>
            </a>
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur fugit
              minima natus optio quisquam sint sunt? Earum harum in laudantium nobis obcaecati odio, praesentium, quis
              sequi soluta vel veniam.</p>
          </div>
          <div class="col-md-6 py-4 px-5">
            <i data-feather="code" width="36" height="36" class="stroke-info"></i>
            <a href="javascript:;" class="mt-4 d-flex align-items-center">
              <h4 class="me-3">Join as Developer</h4>
              <i class="fas fa-arrow-right-long text-info"></i>
            </a>
            <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, consequuntur fugit
              minima natus optio quisquam sint sunt? Earum harum in laudantium nobis obcaecati odio, praesentium, quis
              sequi soluta vel veniam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
