{% load static %}
<section class="section">
  <div class="container">
    <div class="swiper" data-sw-show-items="5" data-sw-space-between="30" data-sw-autoplay="2500" data-sw-loop="true">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/1.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/2.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/3.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/4.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/5.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/1.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/2.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/3.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/4.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
        <div class="swiper-slide">
          <img src="{% static 'lanimg/logos/5.svg' %}" class="img-responsive" alt="" style="max-height:48px">
        </div>
      </div>
    </div>
  </div>
</section>
