<section class="section">
  <div class="container">
    <div class="section-heading text-center">
      <div class="bg-primary-subtle text-primary p-3 rounded-2 d-inline-block undefined">
        <i data-feather="sliders" width="36" height="36" class="stroke-primary"></i>
      </div>
      <h2 class="section-title fw-bold"> Tools for everyone </h2>
      <p class="lead"> Get ready in no time... just like 1, 2 &amp; 3 </p>
    </div>
    <div class="row align-items-end">
      <div class="col-lg-4 text-center text-lg-start">
        <h2 class="fw-light"> Start the right way <span class="fw-bold d-block text-gradient text-gradient-primary">Start with DashCore</span>
        </h2>
        <p class="lead text-secondary">Thinking about a new project? Start in no time with the tools DashCore brings to
          you.</p>
        <a href="pricing.html" class="btn btn-primary mt-4">Choose the right plan <i
          class="ms-3 fas fa-long-arrow-right"></i>
        </a>
        <ol id="sw-nav-tools" class="nav nav-process nav-circle nav-justified mt-5 ">
          <li class="nav-item active">
            <a class="nav-link" href="#" data-step="1">
              <small class="mt-4 position-absolute">Inbox</small>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" data-step="2">
              <small class="mt-4 position-absolute">Calendar</small>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" data-step="3">
              <small class="mt-4 position-absolute">Invoicing</small>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#" data-step="4">
              <small class="mt-4 position-absolute">Reporting</small>
            </a>
          </li>
        </ol>
      </div>
      <div class="col-lg-7 ms-lg-auto">
        <div class="browser shadow mt-4 mt-md-0" data-aos="fade-left">
          <div class="swiper" data-sw-navigation="#sw-nav-tools">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/static/img/screens/dash/1.png" alt="" class="img-responsive">
              </div>
              <div class="swiper-slide">
                <img src="/static/img/screens/dash/2.png" alt="" class="img-responsive">
              </div>
              <div class="swiper-slide">
                <img src="/static/img/screens/dash/3.png" alt="" class="img-responsive">
              </div>
              <div class="swiper-slide">
                <img src="/static/img/screens/dash/4.png" alt="" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
