{% load static %}
<section class="section bg-body-secondary edge-bottom-right">
  <div class="container bring-to-front">
    <div class="section-heading">
      <p class="d-inline-block text-primary-emphasis bg-primary-subtle rounded-pill px-3 py-1 fw-bold mb-2"> Let&#39;s
        do business </p>
      <h2 class="section-title fw-bold"> What DashCore template offers </h2>
    </div>
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card border-0 shadow-box hover-lift image-background off-left-background"
             data-background-image="{% static 'lanimg/lcards/time.svg' %}">
          <div class="p-4 ps-6 ps-md-9">
            <h3>Save time</h3>
            <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eveniet nihil
              perspiciatis quia quidem quod ratione sapiente sint?</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-0 shadow-box hover-lift image-background off-left-background"
             data-background-image="{% static 'lanimg/lcards/done.svg' %}">
          <div class="p-4 ps-6 ps-md-9">
            <h3>Get things done</h3>
            <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eveniet nihil
              perspiciatis quia quidem quod ratione sapiente sint?</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-0 shadow-box hover-lift image-background off-left-background"
             data-background-image="{% static 'lanimg/lcards/grow.svg' %}">
          <div class="p-4 ps-6 ps-md-9">
            <h3>Grow your business</h3>
            <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eveniet nihil
              perspiciatis quia quidem quod ratione sapiente sint?</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card border-0 shadow-box hover-lift image-background off-left-background"
             data-background-image="{% static 'lanimg/lcards/goals.svg' %}">
          <div class="p-4 ps-6 ps-md-9">
            <h3>Accomplish your goals</h3>
            <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eveniet nihil
              perspiciatis quia quidem quod ratione sapiente sint?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
