<section class="section bg-body-secondary edge-bottom-right">
  <div class="container">
    <div class="section-heading">
      <p class="d-inline-block text-info-emphasis bg-info-subtle rounded-pill px-3 py-1 fw-bold mb-2"> Built to
        Last </p>
      <h2 class="section-title fw-bold"> What you will get with DashCore </h2>
      <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna </p>
    </div>
    <div class="row g-4 align-items-center">
      <div class="col-lg-5 mx-auto">
        <div class="row g-4 text-center text-md-start">
          <div class="col-md-6">
            <div class="bg-primary-subtle text-primary p-3 rounded-2 d-inline-block mb-3">
              <i data-feather="pie-chart" width="36" height="36" class="stroke-primary"></i>
            </div>
            <p class="fw-bold lead">Dashboard</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed do eiusmod tempor.</p>
          </div>
          <div class="col-md-6">
            <div class="bg-warning-subtle text-warning p-3 rounded-2 d-inline-block mb-3">
              <i data-feather="dollar-sign" width="36" height="36" class="stroke-warning"></i>
            </div>
            <p class="fw-bold lead">Save money</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed do eiusmod tempor.</p>
          </div>
          <div class="col-md-6">
            <div class="bg-info-subtle text-info p-3 rounded-2 d-inline-block mb-3">
              <i data-feather="sliders" width="36" height="36" class="stroke-info"></i>
            </div>
            <p class="fw-bold lead">Design tools</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed do eiusmod tempor.</p>
          </div>
          <div class="col-md-6">
            <div class="bg-success-subtle text-success p-3 rounded-2 d-inline-block mb-3">
              <i data-feather="download" width="36" height="36" class="stroke-success"></i>
            </div>
            <p class="fw-bold lead">Updates</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-7 pe-0">
        <img src="/static/img/screens/dash/2.png" alt="" class="img-responsive shadow" data-aos="fade-left">
      </div>
    </div>
  </div>
</section>
