<section class="section bg-body-secondary">
  <div class="container bring-to-front pb-0">
    <div class="section-heading text-center w-75 mx-auto">
      <h2 class="fw-bold">Why Dashcore template?</h2>
      <p class="lead text-muted">When you're looking for a template you want it to stand-out. Dashcore comes with
        hundreds of customizable features addressed to developers and designers.</p>
    </div>
    <div class="card shadow rounded-5">
      <div class="card-body">
        <nav class="nav nav-tabs tabs-clean nav-slide mb-4">
          <a class="nav-item nav-link text-uppercase fw-bold active" data-bs-toggle="tab" href="#designers">
            Developers </a>
          <a class="nav-item nav-link text-uppercase fw-bold" data-bs-toggle="tab" href="#developers"> Designers </a>
        </nav>
        <div class="tab-content">
          <div class="tab-pane active" id="designers">
            <div class="row g-4">
              <div class="col-lg-6">
                <h2 class="fw-bold mb-4">Engaging developers <span class="d-block text-gradient text-gradient-success">with organized code</span>
                </h2>
                <p class="lead text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque
                  deleniti facere ipsa laborum saepe.</p>
                <a href="#" class="btn btn-primary shadow-primary">Learn more</a>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img src="/static/img/screens/developer.png" class="img-responsive shadow rounded" alt="...">
                </figure>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="developers">
            <div class="row g-4">
              <div class="col-lg-6">
                <h2 class="fw-bold mb-5">Engaging designers <span class="d-block text-gradient text-gradient-success">with tons of design elements</span>
                </h2>
                <p class="lead text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cumque
                  deleniti facere ipsa laborum saepe.</p>
                <a href="#" class="btn btn-primary shadow-primary">Learn more</a>
              </div>
              <div class="col-lg-6">
                <figure class="px-2">
                  <img src="/static/img/screens/designer.png" class="img-responsive shadow rounded" alt="...">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
