<header class="section header business-header bg-success bg-gradient">
  <div class="container pb-8">
    <div class="row">
      <div class="col-md-10 mx-auto text-center">
        <p class="d-inline-block text-success-emphasis bg-success-subtle rounded-pill px-3 py-1 fw-bold mb-2">
          settings.title API </p>
        <h1 class="mt-3 text-white">
          <span class="display-4 display-md-2 fw-bold"> settings.home_subtitle_1 </span>
          <br> settings.home_subtitle_2
        </h1>
        <p class="text-white display-4 display-md-3">
      <span class="typed fw-bold text-gradient text-gradient-home"
            data-strings='[services_carousel]'></span>
        </p>
        <p class="lead text-white my-5 op-8"> settings.home_description </p>
        <nav class="nav justify-content-center">
          <a href="settings.url_api_docs" target="_blank" class="btn btn-lg btn-dark shadow-dark px-4 me-3">API Docs</a>
          <a href="settings.url_register" target="_self" class="btn btn-lg btn-dark shadow-dark px-4">Sign up for Free</a>
        </nav>
      </div>
    </div>
  </div>
</header>
