<header class="header developers-header section text-white">
  <div class="container overflow-hidden text-center pb-9">
    <p class="small fw-bold text-uppercase text-primary">Welcome Developers!</p>
    <h1 class="display-4 text-white fw-bold">Tools for your day-to-day</h1>
    <p class="text-white display-4 display-md-3">
      <span class="typed fw-bold text-gradient text-gradient-primary"
            data-strings="[&quot;Invoicing&quot;, &quot;Subscriptions&quot;, &quot;Mailing&quot;, &quot;Reporting&quot;]"></span>
    </p>
    <div class="mt-5">
      <p class="fs-3 text-secondary">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      <nav class="nav mt-5 justify-content-center">
        <a href="#" class="btn btn-primary shadow-primary btn-lg me-3">Get Started</a>
        <a href="#" class="btn btn-info shadow-info btn-lg">Review full docs</a>
      </nav>
    </div>
  </div>
</header>
