{% extends "landing/elements/base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', file_path='vendor/highlight/styles/atom-one-dark.css') }}">
{% endblock css %}

{% block content %}

  <!-- Business Heading -->
  {% include 'landing/headers/business.html' %}

  <!-- ./Every thing you need -->
  {% include 'landing/components/code_snippets.html' %}

  <!-- ./What you will get with DashCore Section -->
  {% include 'landing/components/what_you_will_get.html' %}

  <!-- ./Every Thing you need to get started Section -->
  {% include 'landing/components/every_thing_you_need.html' %}

  <!-- ./CTA - Buy it now Section -->
  {% include 'landing/components/get_started.html' %}

{% endblock content %}


{% block js %}
  <script src="{{ url_for('static', file_path='vendor/highlight/highlight.js') }}"></script>
  <script src="{{ url_for('static', file_path='vendor/highlight/languages/bash.js') }}"></script>
  <script src="{{ url_for('static', file_path='vendor/highlight/languages/json.js') }}"></script>
  <script src="{{ url_for('static', file_path='vendor/highlight/languages/python.js') }}"></script>
  <script>hljs.highlightAll();</script>
{% endblock js %}
