{% extends "landing/elements/base.html" %}

{% block content %}
  <!-- developers header -->
  {#  {% include "landing/headers/developers.html" %}#}

  <!-- Business Heading -->
  {% include 'landing/headers/business.html' %}

  <!-- ./CTA - Buy it now Section -->
  {#  {% include 'landing/components/get_started.html' %}#}

  <!-- ./Get the very best of us by doing the best of you Section -->
  {#  {% include "landing/components/best_of_us.html" %}#}

  <!-- ./We design to fit all your needs Section -->
  {#  {% include "landing/components/all_your_needs.html" %}#}

  <!-- ./Seamlessly Integration Section -->
  {#  {% include 'landing/components/seamless_integration.html' %}#}

  <!-- ./Developer tools Section -->
  {#  {% include 'landing/components/developer_tools.html' %}#}

  <!-- ./Easy integrations for your convenience Section -->
  {#  {% include 'landing/components/easy_integration.html' %}#}

  <!-- ./Logos Section -->
  {#  {% include 'landing/components/logos.html' %}#}

  <!-- ./Join as Developer/Designer Section -->
  {#  {% include 'landing/components/join_as.html' %}#}

  <!-- ./CTA - Buy it now Section -->
  {#  {% include 'landing/components/buy_it_now.html' %}#}

  <!-- ./Tools for everyone Section -->
  {#    {% include "landing/components/tools_for_everyone.html" %}#}

  <!-- ./What DashCore template offers Section -->
  {#    {% include 'landing/components/what_offers.html' %}#}

  <!-- ./Designed to provide top-notch appearance Section -->
  {#  {% include 'landing/components/designed_to_provide.html' %}#}

  <!-- ./Why we Section -->
  {#  {% include 'landing/components/why_we.html' %}#}

  <!-- ./Every thing you need -->
  {#  {% include 'landing/components/every_thing_you_need.html' %}#}

  <!-- ./What you will get with DashCore Section -->
  {#  {% include 'landing/components/what_you_will_get.html' %}#}

  <!-- ./FAQs Section -->
  {#    {% include 'landing/components/faqs.html' %}#}

{% endblock content %}
